#mainBody {/* background: url(../images/seperator.png) repeat-x 0 0; */ }
#mainBody ul li{
 margin-bottom: 0px;
 margin-left: 0px;
 padding-right: 0px;
}
/* Sidebar--------- */
#sidebar ul ul li a{ font-size:12px;}
#sidebar ul {list-style: none;padding: 0;margin: 0;width: 100%;}
#sidebar  li  a{font-weight:bold;line-height:15px; background:url(../images/product/tabRepeatInactive.png) repeat 0 0; color:#262626;}
#sidebar ul li li a{background:#eee; padding-left:28px;font-weight:normal;display:block;   font-size:12px; line-height:26px;}
#sidebar ul {background:#eee;}
#sidebar #sideManu .subMenu{border:1px solid #ddd;}
#sidebar #sideManu .open>a{border:none;}
#sidebar #sideManu .subMenu ul{
 margin-top: 0px;
}
#sidebar #sideManu .subMenu ul li{
 margin: 0px;
}
#sidebar #sideManu .subMenu ul li a:hover{
 color: #5BAAF8;
 -webkit-transition: all .4s ease-in-out;
 -moz-transition: all .4s ease-in-out;
 -o-transition: all .4s ease-in-out;
 -ms-transition: all .4s ease-in-out;
 transition: all .4s ease-in-out;
}
/************/
.pagination{
  margin:20px 0;
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
}
.pagination ul {
  float:right;
  margin-bottom: 0;
  margin-left: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.pagination ul li {
  display: inline-block;
  line-height: 20px;
}
.pagination ul li a{
  float:left;
  padding:4px 12px;
  text-decoration: none;
  background-color: #fff;
  border:1px solid #ddd;
  border-left-width: 0;
}
.pagination ul li:first-child>a{
  border-left-width:1px;
  border-bottom-left-radius:4px;
  -webkit-border-bottom-left-radius:4px;
  border-top-left-radius:4px;
  -webkit-border-top-left-radius:4px;
}
.pagination ul li:last-child>a{
  border-top-right-radius:4px;
  -webkit-border-top-right-radius:4px;
  border-bottom-right-radius:4px;
  -webkit-border-bottom-right-radius:4px;
}

#featured .carousel-control {
    background: none;
    color: #002A80;
    border-color: #002A80;
}
/************轮播************/
.carousel-control.right {
    right: 0px;
    left: auto;
}
.carousel-control {
    /* position: absolute; */
    position: absolute;
    top: 40%;
    left: 0px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 24px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: .5;
    filter: alpha(opacity=50);
}

/* ------------------------------- */
[class^="icon-"], [class*=" icon-"] {background-image: none;}
.pagination ul li .currency{
  color: red;
}
/* Responsive--------------------- */
/* Large desktop */
@media (min-width: 1200px) {  }
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
 #sidebar ul{ font-size:8px;}
 .thumbnail .caption h4 span{font-size:15px;}
 .thumbnail .caption h4 .btn{padding:0px;}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
 #sidebar ul{ font-size:6px;}
}
/* Landscape phones and down */
@media (max-width: 480px) {
 #sidebar ul{ font-size:4px;}
}
