<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Page title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/about.css">

</head>
<body>
<header>
    <img src="./images/top_bg.jpg">
    <div class="container">
        <div class="row">
            <div>
                <span id="logo" class="pull-left"> <img src="./images/logo.png"> </span>
                <span class="pull-right"> <img src="./images/font.png"> </span>
            </div>
        </div>
    </div>
</header>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav pull-right">
            <li><a href="index.html">首页</a></li>
            <li><a href="#">调理产品</a></li>
            <li class="active"><a href="#">体质分类</a></li>
            <li><a href="#">体质测试</a></li>
            <li><a href="#">养生必读</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
    </div>
</nav>
<div id="main">
    <div class="container">
        <!--contact-->
        <div class="contact-section">
            <div class="container">
                <div class="contact-form"><div class="col-md-6 contact-in">
                    <p class="sed-para">中医养生</p>
                    <p class="para1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中医养生，就是指通过各种方法颐养生命、增强体质、预防疾病，从而达到延年益寿的一种医事活动。中医养生重在整体性和系统性，目的是预防疾病，治未病。中医理论的著名代表作品是《黄帝内经》。
                        所谓“生”，就是生命、生存、生长之意；所谓养，即保养、调养、补养之意。总之，养生就是保养生命的意思。<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以传统中医理论为指导，遵循阴阳五行生化收藏之变化规律，对人体进行科学调养，保持生命健康活力。
                        如《内经》云：“恬淡虚无，真气从之，精神内守，病安从来”，故养生重在养心，保养精、气、神。
                        即通过怡养心神，调摄情志、调剂生活等方法，从而达到保养身体、减少疾病、增进健康、延年益寿的目的。
                    </p>
                </div>
                    <div class="col-md-6 contact-grid">
                        <form>
                            <p class="your-para">姓 名:</p>
                            <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                            <p class="your-para">手 机:</p>
                            <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                            <p class="your-para">邮 箱:</p>
                            <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                            <p class="your-para">地 址:</p>
                            <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                            <p class="your-para">留 言:</p>
                            <textarea cols="77" rows="3"  onfocus="this.value='';" onblur="if (this.value == '') {this.value = '';}"></textarea>
                            <div class="send">
                                <input type="submit" value="确定" >
                            </div>
                        </form>
                    </div>

                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!--contact-->
        <div class="contact">
            <div class="center-block col-md-6 contact-top">
                <div class="point"> <i class="glyphicon glyphicon-map-marker"></i></div>
                <h4>联系方式</h4>
                <div class="contact-ad">
                    <p>地址:**省**市**区**街道**号<p>
                    <p>电话:18080880888<p>
                    <p>邮箱 :<a href="mailto:info@example.com">mail@example.com</a></p>
                    <ul class="f-icons">
                        <li><a href="#" class="facebook"> </a></li>
                        <li><a href="#" class="pin"> </a></li>
                        <li><a href="#" class="twitter"> </a></li>
                    </ul>

                </div>
            </div>
            <div class="col-md-6 about-map">
                <div id="allmap"></div>
            </div>
            <div class="clearfix"> </div>
        </div>

        <!--//contact-->
    </div>
</div>
<div class="copy">
    <p>
        <a href="#">首页</a>
        <a href="#">调理产品</a>
        <a href="#">体质分类</a>
        <a href="#">体质测试</a>
        <a href="#">养生必读</a>
        <a href="#">联系我们</a>
    </p>
    <p>Copyright &copy; 2015.Company name All rights reserved.More Templates  -
        Collect from </p>
</div>

<script src="./js/jquery-1.11.0.min.js"></script>
<script src="./bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=uwYoIOsooSXmpU8LGUGNUaHmvGToIBpH"></script>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");    // 创建Map实例
    map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
    map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
    map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
</script>
</body>
</html>