<!doctype html>
<html lang="zh-CN">
<head>
  <title>Page title</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  {% block importCss %}{% endblock %}
</head>
<body>
  <header>
      <img src="/images/top_bg.jpg">
      <div class="container">
          <div class="row">
              <div>
                  <span id="logo" class="pull-left"> <img src="/images/logo.png"> </span>
                  <span class="pull-right"> <img src="/images/font.png"> </span>
              </div>
          </div>
      </div>
  </header>
  <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
          <ul class="nav navbar-nav pull-right">
              <li><a href="index.html">首页</a></li>
              <li><a href="#">调理产品</a></li>
              <li class="active"><a href="soma.html">体质分类</a></li>
              <li><a href="#">体质测试</a></li>
              <li><a href="#">养生必读</a></li>
              <li><a href="#">联系我们</a></li>
          </ul>
      </div>
  </nav>
  <div id="main">

            {% block contentRight %}{% endblock %}
            {% block contentLeft %}{% endblock %}
            {% block contentButton %}{% endblock %}
 </div>
  <div class="copy">
      <p>
          <a href="#">首页</a>
          <a href="#">调理产品</a>
          <a href="#">体质分类</a>
          <a href="#">体质测试</a>
          <a href="#">养生必读</a>
          <a href="#">联系我们</a>
      </p>
      <p>Copyright &copy; 2015.Company name All rights reserved.More Templates  -
          Collect from </p>
  </div>
  <script src="/js/jquery-1.11.0.min.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>
  {% block importJs %}{% endblock %}
  {% block scripts %}{% endblock %}
  {% block leftProductScripts %}{% endblock %}
</body>
</html>
