<!doctype html>
<html lang="zh-CN">
<head>
  <title>湖南芒谷食品有限公司</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="description"
          content="湖南芒谷食品有限公司,养生,中医养生,养生方法,养生产品,湖南芒谷食品有限公司,芒谷食品,芒谷,保养,食品,药膳,,药膳养生"/>
    <meta name="keywords"
          content="养生,中医养生,养生方法,养生产品,湖南芒谷食品有限公司,芒谷食品,芒谷,保养,食品,药膳,,药膳养生"/>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  {% block importCss %}{% endblock %}  
</head>
<body>
  <header>
      <img src="/images/top_bg.jpg">
      <div class="container">
          <div class="row">
              <div>
                  <span id="logo" class="pull-left"> <img src="/images/logo.png"> </span>
                  <span class="top-font-1" > 养生明体质 </span>
                  <span class="top-font-2"> 拒绝亚健康 </span>
          <!--        <span class="pull-right"> <img src="/images/font.png"> </span> -->
              </div>
          </div>
      </div>
  </header>
  <nav class="navbar navbar-inverse" id="navbar-height" role="navigation">
      <div class="container">
          <ul class="nav navbar-nav pull-right">
              <li><a  href="/">首页</a></li>
              <li class ="{{menu.product}}"><a  href="/home/product">调理产品</a></li>
              <li class="{{menu.soma}}"><a href="/home/soma">体质分类</a></li>
              <li class ="{{menu.survey}}"><a  href="/home/survey">体质测试</a></li>
              <li class ="{{menu.article}}"><a  href="/home/article">养生必读</a></li>
              <li class ="{{menu.about}}"><a href="/home/about">联系我们</a></li>
          </ul>
      </div>
  </nav>
  <div id="main">

            {% block contentRight %}{% endblock %}
            {% block contentLeft %}{% endblock %}
            {% block contentButton %}{% endblock %}
 </div>
  <div class="copy">
      <p>
          <a href="/">首页</a>
          <a href="/home/product">调理产品</a>
          <a href="/home/soma">体质分类</a>
          <a href="/home/survey#">体质测试</a>
          <a href="/home/article">养生必读</a>
          <a href="/home/about">联系我们</a>
      </p>
      <p>中医养生 湖南芒谷食品有限公司</p>
  </div>
  <script src="/js/jquery-1.11.0.min.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>
  {% block importJs %}{% endblock %}
  {% block scripts %}{% endblock %}
  {% block leftProductScripts %}{% endblock %}  
</body>
</html>
