<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Page title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./css/common.css">

    <link rel="stylesheet" href="./css/soma.css">
</head>
<body>
<header>
    <img src="./images/top_bg.jpg">
    <div class="container">
        <div class="row">
            <div>
                <span id="logo" class="pull-left"> <img src="./images/logo.png"> </span>
                <span class="pull-right"> <img src="./images/font.png"> </span>
            </div>
        </div>
    </div>
</header>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav pull-right">
            <li><a href="index.html">首页</a></li>
            <li><a href="#">调理产品</a></li>
            <li class="active"><a href="soma.html">体质分类</a></li>
            <li><a href="#">体质测试</a></li>
            <li><a href="#">养生必读</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
    </div>
</nav>
<div id="main">
    <div class="container">
        <div class="row">
            <div class="">
                <div class="soma-detail two">
                    <h3 class="tittle"><span>痰湿体质</span></h3>
                    <div class="soma-detail-top">
                        <div class="col-md-3 soma-detail-pic">
                            <img src="images/soma/6-1.jpg" alt="img07"/>
                        </div>
                        <div class="col-md-3 ab-text">
                            <h4>常见表现</h4>
                            <h5>特征</h5>
                            <p>体形肥胖，尤其是腹部肥胖松软</p>
                        </div>
                        <div class="col-md-6">
                            <p>性格偏温和、稳重，多善于忍耐。面部皮肤油脂较多，汗水多且粘，容易胸闷，痰多。有些人面色淡黄发暗，眼圈微浮肿，容易困倦。舌头胖大，舌苔白腻，嘴里常有粘、发腻、发甜的感觉。平时比较爱吃甜食和肥腻食物。大便正常或者略稀烂，小便量不多或者颜色稍微有些浑浊。脉象滑。
                            </p>

                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix">
                        <hr/>
                    </div>
                    <div class="soma-detail-top">
                        <div class="col-md-3 soma-detail-pic">
                            <img src="images/soma/6-2.jpg" alt="img07"/>
                        </div>
                        <div class="col-md-3 ab-text">
                            <h5>发病倾向</h5>
                        </div>
                        <div class="col-md-6">
                            <p>最怵梅雨季节以及湿润环境。和其他体质相比，比较容易发展为“消渴”（糖尿病）、中风、胸痹。  </p>

                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix">
                        <hr/>
                    </div>
                    <div class="soma-detail-top">
                        <div class="col-md-3 soma-detail-pic">
                            <img src="images/soma/6-3.jpg" alt="img07"/>
                        </div>
                        <div class="col-md-3 ab-text">
                            <h5>起居与调理</h5>
                        </div>
                        <div class="col-md-6">
                            <p>居住环境宜干燥而不宜潮湿，平时多进行户外活动。衣着应透气散湿，经常晒太阳。在湿冷的气候条件下，应减少户外活动，避免受寒淋雨，不要过于安逸。运动宜渐进</p>

                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix">
                        <hr/>
                    </div>
                    <div class="soma-detail-top">
                        <div class="col-md-3 soma-detail-pic">
                            <img src="images/soma/6-4.jpg" alt="饮食与药膳"/>
                        </div>
                        <div class="col-md-3 ab-text">
                            <h5>饮食与药膳</h5>
                        </div>
                        <div class="col-md-6">
                            <p>痰湿体质者体形大多肥胖,身重容易疲倦,喜食肥甘厚味的食物,并且食量大.食疗上首重戒除肥甘厚味,戒酒,且最忌暴饮暴食和进食速度过快.应常吃味淡性温平的食品,多吃些蔬菜,水果.宜食温补脾胃,化痰化湿,健脾利湿,化淤祛痰的食物;不宜肥甘油腻,酸涩食品,寒凉酸味水果,并且忌过饱食。</p>

                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copy">
    <p>
            <a href="#">首页</a>
            <a href="#">调理产品</a>
            <a href="#">体质分类</a>
            <a href="#">体质测试</a>
            <a href="#">养生必读</a>
            <a href="#">联系我们</a>
    </p>
    <p>Copyright &copy; 2015.Company name All rights reserved.More Templates  -
        Collect from </p>
</div>

<script src="./js/jquery-1.11.0.min.js"></script>
<script src="./bootstrap/js/bootstrap.js"></script>

</body>
</html>